django==3.2.20
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
django-cors-headers==3.13.0
psycopg2-binary==2.9.3
django-rosetta==0.9.8
weasyprint==55.0
requests==2.31.0
dj-rest-auth==2.2.4
django-allauth==0.51.0
channels==3.0.5
channels-redis==3.4.0
django-push-notifications[WP,APNS]==3.0.0
django-import-export==2.8.0
sentry-sdk==1.14.0
factory_boy==3.2.1
faker==13.11.1
