{% load static i18n %}
<html>
<head>
    <title>{% trans 'Error 404' %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Kropka-App1 debug panel</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
    <div class="container my-3">
        {% trans 'Error 404 - contact the administration.' %}
    </div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>