{% load static i18n %}
<html>
<head>
    <title>{% trans 'PDF Template' %}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <ul class="list-group">
            {% for company in companies %}
            <li class="list-group-item">{{ company }}</li>
                {% if company.team_list %}
                <ul class="list-group">
                {% for team in company.team_list %}
                    <li class="list-group-item">{{ team }}</li>
                    {% if team.user_list %}
                        <ul class="list-group">
                        {% for user in team.user_list %}
                        <li class="list-group-item">{{ user }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</body>
</html>